/**
 * Background
 *
 * Applies general background for any surface or content.
 */
:root {
  --object-major-content: var(--theme-default-neutral-major-content);
  --object-minor-content: var(--theme-default-neutral-minor-content);

  background-color: var(--object-background);
  color: var(--object-major-content);
}

/**
 * Content
 *
 * Applies color for text and icons. It could be major with high emphasis
 * or minor — with low emphasis respectively. Also, it respects color accents
 * if and only if used on the neutral surface or background.
 *
 * Bare content is default and neutral in regard to the current theme.
 */

.content {
  --object-neutral-major-content: var(--theme-default-neutral-major-content);
  --object-neutral-minor-content: var(--theme-default-neutral-minor-content);
  --object-major-content: var(--object-neutral-major-content);
  --object-minor-content: var(--object-neutral-minor-content);
  --object-content: var(--object-major-content);
  color: var(--object-content);
}


/**
 * Surface
 *
 * Applies background for itself along with the content colors
 * that could be used on the current surface.
 *
 * Bare surface expects to be default and neutral in regard to the current
 * theme. Can be configured with accent and/or contrast classes.
 */

.surface {
  --object-neutral-surface: var(--theme-default-neutral-surface);
  --object-vibrant-surface: var(--theme-default-vibrant-surface);
  --object-surface: var(--object-neutral-surface);
  background-color: var(--object-surface);

  --object-neutral-major-content: var(--theme-default-neutral-major-content);
  --object-neutral-minor-content: var(--theme-default-neutral-minor-content);
  --object-vibrant-major-content: var(--theme-default-vibrant-major-content);
  --object-vibrant-minor-content: var(--theme-default-vibrant-minor-content);
  --object-major-content: var(--object-neutral-major-content);
  --object-minor-content: var(--object-neutral-minor-content);
  --object-content: var(--object-major-content);
  color: var(--object-content);
}


/**
 * Accent
 *
 * Applies a color schema to either content or surface.
 *
 * An accent could be used on a neutral or a vibrant surface in regards to
 * the current theme. Color accents apply both and rely on a proper resolution
 * by the the surface itself.
 *
 * See Contrast modifiers as well.
 */

.default {
  --object-neutral-surface: var(--theme-default-neutral-surface);
  --object-neutral-outline: var(--theme-default-neutral-outline);
  --object-neutral-major-content: var(--theme-default-neutral-major-content);
  --object-neutral-minor-content: var(--theme-default-neutral-minor-content);

  --object-vibrant-surface: var(--theme-default-vibrant-surface);
  --object-vibrant-outline: var(--theme-default-vibrant-outline);
  --object-vibrant-major-content: var(--theme-default-vibrant-major-content);
  --object-vibrant-minor-content: var(--theme-default-vibrant-minor-content);
}

.primary {
  --object-neutral-surface: var(--theme-primary-neutral-surface);
  --object-neutral-outline: var(--theme-primary-neutral-outline);
  --object-neutral-major-content: var(--theme-primary-neutral-major-content);
  --object-neutral-minor-content: var(--theme-primary-neutral-minor-content);

  --object-vibrant-surface: var(--theme-primary-vibrant-surface);
  --object-vibrant-outline: var(--theme-primary-vibrant-outline);
  --object-vibrant-major-content: var(--theme-primary-vibrant-major-content);
  --object-vibrant-minor-content: var(--theme-primary-vibrant-minor-content);
}

.info {
  --object-neutral-surface: var(--theme-info-neutral-surface);
  --object-neutral-outline: var(--theme-info-neutral-outline);
  --object-neutral-major-content: var(--theme-info-neutral-major-content);
  --object-neutral-minor-content: var(--theme-info-neutral-minor-content);

  --object-vibrant-surface: var(--theme-info-vibrant-surface);
  --object-vibrant-outline: var(--theme-info-vibrant-outline);
  --object-vibrant-major-content: var(--theme-info-vibrant-major-content);
  --object-vibrant-minor-content: var(--theme-info-vibrant-minor-content);
}

.positive {
  --object-neutral-surface: var(--theme-positive-neutral-surface);
  --object-neutral-outline: var(--theme-positive-neutral-outline);
  --object-neutral-major-content: var(--theme-positive-neutral-major-content);
  --object-neutral-minor-content: var(--theme-positive-neutral-minor-content);

  --object-vibrant-surface: var(--theme-positive-vibrant-surface);
  --object-vibrant-outline: var(--theme-positive-vibrant-outline);
  --object-vibrant-major-content: var(--theme-positive-vibrant-major-content);
  --object-vibrant-minor-content: var(--theme-positive-vibrant-minor-content);
}

.warning {
  --object-neutral-surface: var(--theme-warning-neutral-surface);
  --object-neutral-outline: var(--theme-warning-neutral-outline);
  --object-neutral-major-content: var(--theme-warning-neutral-major-content);
  --object-neutral-minor-content: var(--theme-warning-neutral-minor-content);

  --object-vibrant-surface: var(--theme-warning-vibrant-surface);
  --object-vibrant-outline: var(--theme-warning-vibrant-outline);
  --object-vibrant-major-content: var(--theme-warning-vibrant-major-content);
  --object-vibrant-minor-content: var(--theme-warning-vibrant-minor-content);
}

.danger {
  --object-neutral-surface: var(--theme-danger-neutral-surface);
  --object-neutral-outline: var(--theme-danger-neutral-outline);
  --object-neutral-major-content: var(--theme-danger-neutral-major-content);
  --object-neutral-minor-content: var(--theme-danger-neutral-minor-content);

  --object-vibrant-surface: var(--theme-danger-vibrant-surface);
  --object-vibrant-outline: var(--theme-danger-vibrant-outline);
  --object-vibrant-major-content: var(--theme-danger-vibrant-major-content);
  --object-vibrant-minor-content: var(--theme-danger-vibrant-minor-content);
}


/**
 * Contrast
 *
 * Applies color contrast in regards to the current theme. It could be either
 * neutral — soft or blended into the current theme, or vibrant — contrasting
 * with the current theme.
 *
 * Contrast modifiers apply final surface and content colors.
 */
.neutral {
  --object-surface: var(--object-neutral-surface);
  --object-outline: var(--object-neutral-outline);
  --object-major-content: var(--object-neutral-major-content);
  --object-minor-content: var(--object-neutral-minor-content);
}

.vibrant {
  --object-surface: var(--object-vibrant-surface);
  --object-outline: var(--object-vibrant-outline);
  --object-major-content: var(--object-vibrant-major-content);
  --object-minor-content: var(--object-vibrant-minor-content);
}


/**
 * Emphasis
 *
 * Applies emphasis level to text and icons. Could be major — high, contrasting
 * well with the surface, or minor (medium) — contrasting with surface to
 * be noticed but do not create noise.
 */

.major {
  --object-content: var(--object-major-content);
}

.minor {
  --object-content: var(--object-minor-content);
}
