/*!
 * Theme Setting
 *
 * It's assumed that the theme is light.
 *
 * Naming convention:
 *
 * 0. scope
 *
 *    - theme — basically, global
 *    - object — surface or content
 *
 * 1. accent
 *
 *    - default
 *    - primary
 *    - positive
 *    - informational, info
 *    - warning
 *    - danger
 *
 * 2. schema — color schema for according to the current theme
 *
 *    - neutral — blends into the background
 *    - vibrant — contrasts with the background
 *
 * 3. emphasis
 *
 *    - major — high emphasis
 *    - minor — low emphasis
 *
 *    NOTE: Applies only to content.
 *
 * 4. object
 *    - surface — applies background color
 *    - outline — applies border color
 *    - content — applies (text and icons) color
 */
:root {
  --theme-background: var(--neutral-100);

  --theme-base-neutral-major-content: #000000de;
  --theme-base-neutral-minor-content: #00000099;
  --theme-base-vibrant-major-content: #fff;
  --theme-base-vibrant-minor-content: #ffffffbd;

  --theme-default-neutral-surface: var(--neutral-0);
  --theme-default-neutral-outline: #0000001f;
  --theme-default-neutral-major-content: var(--theme-base-neutral-major-content);
  --theme-default-neutral-minor-content: var(--theme-base-neutral-minor-content);
  --theme-default-vibrant-surface: var(--neutral-900);
  --theme-default-vibrant-outline: transparent;
  --theme-default-vibrant-major-content: var(--theme-base-vibrant-major-content);
  --theme-default-vibrant-minor-content: var(--theme-base-vibrant-minor-content);

  --theme-primary-neutral-surface: var(--primary-100);
  --theme-primary-neutral-outline: #0000001f;
  --theme-primary-neutral-major-content: var(--primary-500);
  --theme-primary-neutral-minor-content: color(var(--primary-500) alpha(60%));
  --theme-primary-neutral-minor-content: #3f51b5ab;
  --theme-primary-vibrant-surface: var(--primary-500);
  --theme-primary-vibrant-outline: #0000001f;
  --theme-primary-vibrant-major-content: var(--theme-default-vibrant-major-content);
  --theme-primary-vibrant-minor-content: var(--theme-default-vibrant-minor-content);

  --theme-info-neutral-surface: var(--info-100);
  --theme-info-neutral-outline: #0000001f;
  --theme-info-neutral-major-content: var(--info-500);
  --theme-info-neutral-minor-content: color(var(--info-500) alpha(60%));
  --theme-info-neutral-minor-content: #0099e0ab;
  --theme-info-vibrant-surface: var(--info-500);
  --theme-info-vibrant-outline: #0000001f;
  --theme-info-vibrant-major-content: var(--theme-default-vibrant-major-content);
  --theme-info-vibrant-minor-content: var(--theme-default-vibrant-minor-content);

  --theme-positive-neutral-surface: var(--positive-100);
  --theme-positive-neutral-outline: #0000001f;
  --theme-positive-neutral-major-content: var(--positive-500);
  --theme-positive-neutral-minor-content: color(var(--positive-500) alpha(60%));
  --theme-positive-neutral-minor-content: #0c8c3fab;
  --theme-positive-vibrant-surface: var(--positive-500);
  --theme-positive-vibrant-outline: #0000001f;
  --theme-positive-vibrant-major-content: var(--theme-default-vibrant-major-content);
  --theme-positive-vibrant-minor-content: var(--theme-default-vibrant-minor-content);

  --theme-warning-neutral-surface: var(--warning-100);
  --theme-warning-neutral-outline: #0000001f;
  --theme-warning-neutral-major-content: var(--warning-500);
  --theme-warning-neutral-minor-content: color(var(--warning-500) alpha(60%));
  --theme-warning-neutral-minor-content: #dd7b11ab;
  --theme-warning-vibrant-surface: var(--warning-500);
  --theme-warning-vibrant-outline: #0000001f;
  --theme-warning-vibrant-major-content: var(--theme-default-vibrant-major-content);
  --theme-warning-vibrant-minor-content: var(--theme-default-vibrant-minor-content);

  --theme-danger-neutral-surface: var(--danger-100);
  --theme-danger-neutral-outline: #0000001f;
  --theme-danger-neutral-major-content: var(--danger-500);
  --theme-danger-neutral-minor-content: color(var(--danger-500) alpha(60%));
  --theme-danger-neutral-minor-content: #d82020ab;
  --theme-danger-vibrant-surface: var(--danger-500);
  --theme-danger-vibrant-outline: #0000001f;
  --theme-danger-vibrant-major-content: var(--theme-default-vibrant-major-content);
  --theme-danger-vibrant-minor-content: var(--theme-default-vibrant-minor-content);
}
