@use 'sass:list';

$emphasises: major, minor;

$brand-accents: primary;
$semantic-accents: info, positive, warning, danger;
$all-accents: list.join(neutral, list.join($brand-accents, $semantic-accents));

@mixin content {
  color: var(--content);

  // TODO: Reconsider placement as this is not needed for short-hands
  //       but needed for .content and .surface
  // :where(#{&}) {
  //   @include emphasis;
  // }
}

@mixin surface {
  @include content;

  background-color: var(--context-surface, var(--surface));
}

@mixin emphasis($emphasis: list.nth($emphasises, 1)) {
  --content: var(--#{$emphasis}-content);
}

@mixin accent($accent: list.nth($all-accents, 1)) {
  @each $emphasis in $emphasises {
    --#{$emphasis}-content: var(--theme-#{$accent}-#{$emphasis}-content);
  }

  --surface: var(--theme-#{$accent}-background);
}
