/**
 * Accent
 *
 * Applies a color schema to either content or surface.
 *
 * An accent could be used on a neutral or a vibrant surface in regards to
 * the current theme. Color accents apply both and rely on a proper resolution
 * by the the surface itself.
 *
 * See Contrast modifiers as well.
 */

:root {
  --major-content:
    var(--theme-major-content,
    var(--theme-neutral-major-content));
  --minor-content:
    var(--theme-minor-content,
    var(--theme-neutral-minor-content));
  --content: var(--major-content);
  color: var(--content);
}

.neutral {
  --surface: var(--theme-neutral-background);
  --major-content: var(--theme-neutral-major-content);
  --minor-content: var(--theme-neutral-minor-content);
}

@each $accent in primary {
  .#{$accent} {
    --surface: var(--theme-#{$accent}-background);
    --major-content: var(--theme-#{$accent}-major-content);
    --minor-content: var(--theme-#{$accent}-minor-content);
  }
}

@each $accent in info, positive, warning, danger {
  .#{$accent} {
    --surface: var(--theme-#{$accent}-background);
    --major-content: var(--theme-#{$accent}-major-content);
    --minor-content: var(--theme-#{$accent}-minor-content);
  }
}
