/**
 * Accent
 *
 * Applies a color schema to either content or surface.
 *
 * An accent could be used on a neutral or a vibrant surface in regards to
 * the current theme. Color accents apply both and rely on a proper resolution
 * by the the surface itself.
 *
 * See Contrast modifiers as well.
 */

@use 'sass:list';
@use 'mixins' as *;

$brand-accents: primary;
$semantic-accents: info, positive, warning, danger;
$all-accents: list.join(neutral, list.join($brand-accents, $semantic-accents));

:root {
  --major-content:
    var(--theme-major-content,
    var(--theme-neutral-major-content));
  --minor-content:
    var(--theme-minor-content,
    var(--theme-neutral-minor-content));
  --content: var(--major-content);
  color: var(--content);
}

.neutral {
  @include accent('neutral');
}

@each $accent in $brand-accents {
  .#{$accent} {
    @include accent($accent);
  }
}

@each $accent in $semantic-accents {
  .#{$accent} {
    @include accent($accent);
  }

  .#{$accent}[class] > * {
    @include accent($accent);
  }

  .#{$accent}[class] :where(.surface) {
    background: transparent;
  }
}
