:root {
  --major-content:
    var(--theme-major-content,
    var(--theme-neutral-major-content));
  --minor-content:
    var(--theme-minor-content,
    var(--theme-neutral-minor-content));
  --content: var(--major-content);
  color: var(--content);
}

.primary {
  --major-content: var(--theme-primary-major-content);
  --minor-content: var(--theme-primary-minor-content);
}
