/**
 * Bare accent changes the text color by default, so there is no need in
 * writing .content class everywhere
 */

:where(.neutral, .primary, .positive) {
  --content: var(--major-content);
  color: var(--content, var(--major-content));
}

/**
 * Bare emphasis changes the text color by default, so there is no need in
 * writing .content class everywhere
 */

.major,
.minor {
  color: var(--content, var(--major-content));
}
