/*!
 * Theme Setting
 *
 * It's assumed that the theme is light.
 *
 * Naming convention:
 *
 * 0. scope
 *
 *    - theme — basically, global
 *    - object — surface or content
 *
 * 1. accent
 *
 *    - neutral or ∅ (nothing)
 *    - primary
 *    - positive
 *    - informational, info
 *    - warning
 *    - danger
 */
@use 'sass:color';
@use 'sass:string';
@use 'palette';

@function title-case($str) {
  $first-letter: string.slice($str, 0, 1);
  $rest: string.slice($str, 2);
  @return #{string.to-upper-case($first-letter)}#{$rest};
}

@function c($name, $weight: '500', $alpha: 1) {
  $color: palette.get($name, $weight);
  @return color.change($color, $alpha: $alpha);
}

@mixin theme-light {
  /* Globals */
  --theme-background: #{c('neutral', '100')};
  --theme-major-content: #{c('neutral', '1000', $alpha: .87)};
  --theme-minor-content: #{c('neutral', '1000', $alpha: .6)};

  /* Neutral */
  --theme-neutral-background: #{c('neutral', '0')};
  --theme-neutral-major-content: var(--theme-major-content);
  --theme-neutral-minor-content: var(--theme-minor-content);

  --theme-neutral-vibrant-background: #{c('neutral', '900')};
  --theme-neutral-vibrant-major-content: #{c('neutral', '0')};
  --theme-neutral-vibrant-minor-content: #{c('neutral', '0')};

  @each $accent in primary, info, positive, warning, danger {
    /* #{title-case($accent)} */
    --theme-#{$accent}-background: var(--theme-#{$accent}-soft-background);
    --theme-#{$accent}-major-content: var(--theme-#{$accent}-soft-major-content);
    --theme-#{$accent}-minor-content: var(--theme-#{$accent}-soft-minor-content);

    --theme-#{$accent}-soft-background: #{c($accent, $alpha: .15)};
    --theme-#{$accent}-soft-major-content: #{c($accent, '600')};
    --theme-#{$accent}-soft-minor-content: #{c($accent, '600', $alpha: .6)};

    --theme-#{$accent}-vibrant-background: #{c($accent)};
    --theme-#{$accent}-vibrant-major-content: #{c('neutral', '0')};
    --theme-#{$accent}-vibrant-minor-content: #{c('neutral', '0', $alpha: .6)};
  }
}

@mixin theme-dark {
  --theme-background: #{c('neutral', '900')};
  --theme-major-content: #{c('neutral', '0', $alpha: .87)};
  --theme-minor-content: #{c('neutral', '0', $alpha: .6)};

  /* Neutral */
  --theme-neutral-background: #{c('neutral', '0', $alpha: .025)};
  --theme-neutral-background: #{c('neutral', '200')};

  @each $accent in primary, info, positive, warning, danger {
    /* #{title-case($accent)} */
    --theme-#{$accent}-background: #{c($accent, $alpha: .25)};
    --theme-#{$accent}-major-content: #{c($accent, '300')};
    --theme-#{$accent}-minor-content: #{c($accent, '300', $alpha: .6)};
  }
}

:root,
.theme {
  @include theme-light;
}

:where(.theme).dark {
  @include theme-dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include theme-dark;
  }
}

:root,
.theme {
  background-color: var(--theme-background);
  color: var(--theme-major-content);
}
