/*!
 * Theme Setting
 *
 * It's assumed that the theme is light.
 *
 * Naming convention:
 *
 * 0. scope
 *
 *    - theme — basically, global
 *    - object — surface or content
 *
 * 1. accent
 *
 *    - neutral or ∅ (nothing)
 *    - primary
 *    - positive
 *    - informational, info
 *    - warning
 *    - danger
 */
:root {
  /* Globals */
  --theme-background: var(--neutral-100);
  --theme-major-content: #000000de;
  --theme-minor-content: #00000099;

  /* Neutral */
  --theme-neutral-major-content: var(--theme-major-content);
  --theme-neutral-minor-content: var(--theme-minor-content);

  /* Primary */
  --theme-primary-major-content: var(--primary-500);
  --theme-primary-minor-content: color(var(--primary-500) alpha(60%));
  --theme-primary-minor-content: #3f51b5ab;

  /* Info */
  --theme-info-major-content: var(--info-500);
  --theme-info-minor-content: color(var(--info-500) alpha(60%));
  --theme-info-minor-content: #0099e0ab;

  /* Positive */
  --theme-positive-major-content: var(--positive-500);
  --theme-positive-minor-content: color(var(--positive-500) alpha(60%));
  --theme-positive-minor-content: #0c8c3fab;

  /* Warning */
  --theme-warning-major-content: var(--warning-500);
  --theme-warning-minor-content: color(var(--warning-500) alpha(60%));
  --theme-warning-minor-content: #dd7b11ab;

  /* Danger */
  --theme-danger-major-content: var(--danger-500);
  --theme-danger-minor-content: color(var(--danger-500) alpha(60%));
  --theme-danger-minor-content: #d82020ab;
}
