.vibrant {
  --surface: var(--vibrant-surface);
  --major-content: var(--vibrant-major-content);
  --minor-content: var(--vibrant-minor-content);
}

:where(.vibrant) {
  --vibrant-surface: var(--theme-neutral-vibrant-background);
  --content: var(--major-content);
}

:where(.vibrant) .vibrant {
  --vibrant-surface: var(--theme-neutral-background);
  --major-content: var(--theme-neutral-major-content);
  --minor-content: var(--theme-neutral-minor-content);
}

:where(.vibrant .vibrant) .vibrant {
  --surface:
    var(--context-vibrant-surface,
    var(--vibrant-surface));
}
